:root {
  box-sizing: border-box;
  /* font-size: 100%; */
  /* font-size: 4vw; */
  width: 100%;
}
/* 
@media (min-device-width: 360px) {
  :root {
    font-size: 3vw;
  }
}
@media (min-device-width: 720px) {
  :root {
    font-size: 2vw;
  }
}
@media (min-device-width: 960px) {
  :root {
    font-size: 1vw;
  }
} */
/* width */
::-webkit-scrollbar {
  height: 3px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* unvisited link */

a:link {
  /* color: inherit; */
}

/* visited link */

a:visited {
  /* color: inherit; */
}

/* mouse over link */

a:hover {
  color: blue;
  cursor: pointer;
}

/* selected link */

a:active {
  color: blue;
}

button{
  margin: 1px;
  font-size: inherit;
}

button:hover {
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  color: blue;
  cursor: pointer;
}

button.button-add {
  background-color: rgb(230, 255, 230);
}

button.button-del {
  background-color: rgb(255, 230, 230);
}

h2.near {
  margin-bottom: 5px
}

input, label, select:hover {
  cursor: pointer;
}

label.strong {
  font-weight: 600;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid grey;
  padding: 3px;
}

select {
  font-size: inherit;
}

.selected {  /* wird in NavLink durch a überschrieben */
  color: darkgrey;
  font-weight: 600;
}

.table-wrapper {
  /* overflow-x: auto;
  max-width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.details__head {
  border: 2px solid black;
  display: inline-block;
  padding: 0rem 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.umbruchbefore::before, .umbruchafter::after {
    content: "\A";
    white-space: pre;
}